.button1{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.30), 0 6px 20px 0 rgba(0,0,0,0.80);
    background-color: #4E1C1C; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: ;
    right: 6px;
    top: 102px;
    width: px;
    height:;
    border: 3px solid black;
}
.button2{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.30), 0 6px 20px 0 rgba(0,0,0,0.80);
    background-color: #645D5D; /* catalogo*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: ;
    right: 350px;
    top: 102px;
    border: 3px solid black;
    width: ;
    height:;
}
.button3{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.30), 0 6px 20px 0 rgba(0,0,0,0.80);
    background-color: #4E1C1C; /* inicio sesion */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: ;
    right: 174px;
    top: 102px;
    border: 3px solid black;
}
#navegacion{
    border-bottom: solid;
    background-color:white;
    width: ;
    left: 300px;
    top: 10px ;
    /* background-color:;
    width: 40%;
    position:relative;
    text-align: ;
    top: 10px;
    right: 0%;
    left: 10% ;
    border-radius: 0px 0px 0px 183px;  */
  
  } 
legend{
   text-align: center; 
}